<%- contentFor('body')%>  

 

 <div class="container">
<br>
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Insert
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Insert</li>
                </ol>
            </div>
        </div>
  <form class="form-horizontal" role="form" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
            <select name="name" id="speakerName" style="width: 230px; height: 35px;">
      <option >ড. যাকির নায়েক</option>
      <option >আব্দুর রায্‌যাক বিন ইউসুফ</option>
      <option >শাইখ মতিউর রহমান মাদানী</option>
      <option >শাইখ শহীদুল্লাহ খান মাদানী</option>
       <option >মুযাফফর বিন মুহসিন</option>
       <option >সিফাত হাসান</option>
       <option >শাইখ আমানুল্লাহ মাদানী</option>
       <option >ড. মুহাম্মাদ সাইফুল্লাহ</option>
       <option >মুফতি কাজী মুহাম্মাদ ইব্রাহীম</option>
       <option >ড. মোহাম্মদ মুছলে উদ্দিন</option>       
       <option >ড. মনজুরে ইলাহী</option>
       <option >মুহাম্মাদ আসাদুল্লাহ আল-গালিব</option>
       <option >অন্যান্য </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Tittle" required>
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="title">URL:</label>
      <div class="col-sm-10">
        <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL" required>
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="title">Type:</label>
      <div class="col-sm-10">
              
           <select name="type">
        <option value="audio">audio</option>
        <option value="video">video</option>
         </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
        
      </div>
    </div>
  </form>
  </div>
  


<script type="text/javascript">
 function run(){
  var strUser = $("#ddlViewBy").val();
  $('#name').val(strUser);

 }
 //$("#elementId :selected").text(); // The text content of the selected option


//var e = document.getElementById("ddlViewBy");
//var strUser = e.options[e.selectedIndex].value;
//$('#name').val(strUser);

</script>