<%- contentFor('body')%>

<div class="container">
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Login
        <small>Subheading</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li class="active">login</li>
      </ol>
    </div>
  </div>
  <form class="form-horizontal" method="post">

    <div class="form-group">

     <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
     <div class="col-xs-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Confirm identity</button>
    </div>
  </div>
</form>
</div>





