<%- contentFor('body')%>  

<div class="container">
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Update
        <small>Subheading</small>
      </h1>
       <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <div id="showResult" role="alert"></div>
      </div>
    </div>
  </div>

  <form class="form-horizontal" role="form" method="post">

   <div class="form-group">
    <label class="control-label col-sm-2" for="id">ID:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id" name="id" placeholder="Enter ID" required>
    </br>
    <button type="button" class="btn btn-default" id="search" >Search</button>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="name">Name:</label>
  <div class="col-sm-10">
    <select name="name" class="form-control" id="name" >
      <option >Select Speaker</option>
      <option value="ড. যাকির নায়েক">ড. যাকির নায়েক</option>
      <option value="আব্দুর রায্‌যাক বিন ইউসুফ">আব্দুর রায্‌যাক বিন ইউসুফ</option>
      <option value="শাইখ মতিউর রহমান মাদানী">শাইখ মতিউর রহমান মাদানী</option>
      <option value="শাইখ শহীদুল্লাহ খান মাদানী">শাইখ শহীদুল্লাহ খান মাদানী</option>
      <option value="মুযাফফর বিন মুহসিন">মুযাফফর বিন মুহসিন</option>
      <option value="সিফাত হাসান">সিফাত হাসান</option>
      <option value="শাইখ আমানুল্লাহ মাদানী">শাইখ আমানুল্লাহ মাদানী</option>
      <option value="ড. মুহাম্মাদ সাইফুল্লাহ">ড. মুহাম্মাদ সাইফুল্লাহ</option>
      <option value="মুফতি কাজী মুহাম্মাদ ইব্রাহীম">মুফতি কাজী মুহাম্মাদ ইব্রাহীম</option>
      <option value="ড. মোহাম্মদ মুছলে উদ্দিন">ড. মোহাম্মদ মুছলে উদ্দিন</option>       
      <option value="ড. মনজুরে ইলাহী">ড. মনজুরে ইলাহী</option>
      <option value="মুহাম্মাদ আসাদুল্লাহ আল-গালিব">মুহাম্মাদ আসাদুল্লাহ আল-গালিব</option>
      <option value="অন্যান্য">অন্যান্য </option>
      <option value="Ismail Menk">Ismail Menk</option>
      <option value="Dr. Zakir Naik">Dr. Zakir Naik</option>
      <option value="Fariq Naik">Fariq Naik</option>
      <option value="Yasir Qadhi">Yasir Qadhi</option> 
      <option value="Nouman-Ali-Khan">Nouman-Ali-Khan</option>
      <option value ="Others">Others</option>    
      
    </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="title">Lecture:</label>
  <div class="col-sm-10">

   <select name="lecture" id="lecture" style="width: 230px; height: 35px;">
    <option value="bangla">Bangla</option>
    <option value="english">English</option>
  </select>
</div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="title">Title:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Tittle" required>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="url">URL:</label>
  <div class="col-sm-10">
    <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL" required>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-2" for="wasCatatory">Was Catagory:</label>
  <div class="col-sm-10">

    <select name="wasCatatory" id="wasCatatory" style="width: 230px; height: 35px;" required>
      <option>Select Catagory</option>
      <option value="ঈমান">ঈমান</option>
      <option value="সালাত">সালাত</option>
      <option value="সিয়াম">সিয়াম</option>
      <option value="যাকাত">যাকাত</option>
      <option value="হজ্জ">হজ্জ</option>       
      <option value="শির্ক">শির্ক</option>
      <option value="বিদআত">বিদআত</option>
      <option value="জান্নাত">জান্নাত</option>
      <option value="জাহান্নাম">জাহান্নাম</option>
      <option value="নেশা">নেশা</option>
      <option value="গানবাজনা">গানবাজনা</option>
      <option value="যেনা ব্যাভিচার">যেনা ব্যাভিচার</option>
      <option value="সুদ">সুদ</option>
      <option value="দয়া ও রহমত">দয়া ও রহমত</option>
      <option value="অন্যান্য">অন্যান্য</option>
      <option value="Faith">Faith</option>
      <option value="Salat">Salat</option>
      <option value="Fasting">Fasting</option>
      <option value="Zakat">Zakat</option>
      <option value="Hajj">Hajj</option>       
      <option value="Shirk ">Shirk</option>
      <option value="Innovations">Innovations</option>
      <option value="Jannat">Jannat</option>
      <option value="Jahannam">Jahannam</option>
      <option value="Drug">Drug</option>
      <option value="Music">Music</option>
      <option value="Adultery">Adultery</option>
      <option value="Mercy">Mercy</option>
      <option value="Bank Interest">Bank Interest</option>
      <option value="Others">Others</option>

    </select>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-2" for="wasType">Type:</label>
  <div class="col-sm-10">
   <select name="wasType" id="wasType" style="width: 230px; height: 35px;">
    <option value="audio">Audio</option>
    <option value="video">Video</option>
  </select>
</div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">

    <%if(general){%>
    <button type="submit" class="btn btn-primary btn-lg btn-block" disabled="disabled" >Update</button>
    <% }else{ %>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="updating"><i class="fa fa-spinner fa-spin"></i> Updating Data</button>  
    <button type="button" id="update" class="btn btn-primary btn-lg btn-block" >Update</button>
    <%}%>

  </div>
</div>
</form>
</div>



<script type="text/javascript"> 
  
  $("#updating").hide();

  $(document).ready(function() {
    $("#update").click(function() {
        //alert("Email");

        var id = $("#id").val();
        var SpeakerName =  $('#name').val();
        var Lecture = $('#lecture').val();
        var Title =  $('#title').val();
        var Url =  $('#url').val();
        var Wascatatory = $("#wasCatatory").val();
        var Type = $("#wasType").val();

        var content = {
          "id" : id,
          "name" :SpeakerName,
          "lecture":Lecture,
          "title":Title,
          "url":Url,
          "wasCatatory":Wascatatory,
          "wasType":Type
        };


        function isUrlValid(url) {
          return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
        }

        if(id ==""){
         $("#id").focus();
       }

       else if(SpeakerName=="Select Speaker")
       {
        $("#name").focus();
      }else if(Title=="")
      {
       $("#title").focus();
     }else if(Url=="")
     {
      $("#url").focus();
    }else if(Wascatatory=="Select Catagory")
    {
     $("#wasCatatory").focus();
   }else{

     $("#updating").show();
     $("#update").hide();

     $.ajax({
      url: '/admin/update',
      type: 'POST',
      dataType: 'json',
                    //data: $("#email").val(),
                    data: JSON.stringify(content),
                    headers: {
                      'Content-Type': 'application/json;charset=utf-8'
                    },
                    success: function(data, textStatus, jQxhr) {

                     $("#updating").hide();
                     $("#update").show();

                     if(data =="Was has been updated successfully")
                     {
                       $("#showResult").show();
                       $("#showResult").removeClass("alert alert-danger").addClass("alert alert-success").text(data);

                     }else{
                       $("#showResult").show();
                       $("#showResult").removeClass("alert alert-success").addClass("alert alert-danger").text(data);
                    }



                  },
                  error: function(jqXhr, textStatus, errorThrown) {
                        $("#showResult").show();
                       $("#showResult").removeClass("alert alert-success").addClass("alert alert-danger").text(errorThrown);
                      }
                    })
                .done(function(reuslt) {

                    //console.log(reuslt);
                   // alert(reuslt);
                    // if (reuslt != null) {
                    //     var data = JSON.stringify(reuslt);
                    //     $("#speakerName").val(reuslt.name).change();
                    //     $("#lecture").val(reuslt.lecture).change();
                    //     $('#title').val(reuslt.title);
                    //     $('#url').val(reuslt.url);
                    //     $("#type_id").val(reuslt.wasType).change();
                    //     $("#wascatatory").val(reuslt.wasCatatory).change();

                    // }

                    //alert(reuslt.name);
                  })
     .fail(function() {
      console.log("error");
    })
     .always(function() {
      console.log("complete");
    });

   }


 });
});








$(document).ready(function() {
  $("#search").click(function() {
    var id = $("#id").val();
        //alert(id);

        if (id !== "") {

          $.ajax({
            url: '/content_id/' + id,
            type: 'get',
            dataType: 'json',
                    //data: $("#email").val(),
                    //data: JSON.stringify(data),
                    headers: {
                      'Content-Type': 'application/json;charset=utf-8'
                    },
                    success: function(data, textStatus, jQxhr) {

                      $("#showResult").hide();

                    
                      if (data == null) {
                           // alert("NO data available with this id");
                           $("#showResult").show();
                           $("#showResult").removeClass("alert alert-success").addClass("alert alert-danger").text("No data available with this id");

                           $('#title').val("");
                           $('#url').val("");
                           
                         }
                       },
                       error: function(jqXhr, textStatus, errorThrown) {
                       $("#showResult").show();
                        $("#showResult").removeClass("alert alert-success").addClass("alert alert-danger").text(errorThrown);

                     
                      $('#title').val("");
                      $('#url').val("");
                      
                      }
                    })
          .done(function(reuslt) {
                    //console.log(reuslt);
                    if (reuslt != null) {
                      var data = JSON.stringify(reuslt);
                      $("#name").val(reuslt.name).change();
                      $("#lecture").val(reuslt.lecture).change();
                      $('#title').val(reuslt.title);
                      $('#url').val(reuslt.url);
                      $("#wasType").val(reuslt.wasType).change();
                      $("#wasCatatory").val(reuslt.wasCatatory).change();

                    }

                    //alert(reuslt.name);
                  })
          .fail(function() {
            console.log("error");
          })
          .always(function() {
            console.log("complete");
          });
        } else {
          alert("Pleae insert ID value");
        }

      });
});






</script>
