<%- contentFor('body')%>  

   <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Update
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Update</li>
                </ol>
            </div>
        </div>

  <h2>Search then update your data.</h2>
  </br>
  </br>
  <form class="form-horizontal" role="form" method="post">

   <div class="form-group">
      <label class="control-label col-sm-2" for="id">ID:</label>
      <div class="col-sm-10">
        <input type="id" class="form-control" id="id" name="id" placeholder="Enter ID">
         </br>
         <button type="button" class="btn btn-default" id="search" >Search</button>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="name" name="name" placeholder="Enter Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="title" class="form-control" id="title" name="title" placeholder="Enter Tittle">
      </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="url">URL:</label>
      <div class="col-sm-10">
        <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" >Update</button>
      </div>
    </div>
  </form>
</div>

<hr>

<script type="text/javascript">
$(document).ready(function() {
$("#search").click(function(){
       //alert("Email");
       // $('#name').val("motiur");
       // $('#title').val("rahman");
       // $('#url').val("palash");

       // var data = {"id":$("#id").val()};
       var id  = $("#id").val();
       //alert(id);

        $.ajax({
          url: 'http://localhost:3000/content_id/'+id,
          type: 'get',
          dataType: 'json',
          //data: $("#email").val(),
          //data: JSON.stringify(data),
          headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            success:function(data, textStatus, jQxhr){
             if(data==null)
           {
            alert("NO data available with this id");
           }
            },
            error:function(jqXhr, textStatus, errorThrown){
            alert(errorThrown);
            }
        })
        .done(function(reuslt) {
          //console.log(reuslt);
         var data = JSON.stringify(reuslt);
           $('#name').val(reuslt.name);
           $('#title').val(reuslt.title);
           $('#url').val(reuslt.url);

           console.log("done:"+data);

           
          //alert(reuslt.name);
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
        
     });
  });

// $(document).ready(function() {
// $("#update").click(function(){
//         var value = {"id":$("#id").val(),
//                      "name":$("#name").val(),
//                     "title":$("#title").val(),
//                     "url":$("#url").val(),
                    
//                     };

//         $.ajax({
//           url: 'http://localhost:3000/admin/updateDelete',
//           type: 'put',
//           dataType: 'json',
//           //data: $("#email").val(),
//           data: JSON.stringify(value),
//           headers: {
//               'Content-Type': 'application/json;charset=utf-8'
//             },
//             success:function(data){
//             document.location.href = 'http://localhost:3000/'
//             },
//             error:function(error){
//             alert(error)
//             }
//         });
        
//     });
//   });



</script>
