<style>
#back-to-top {
 
background: none;
 
margin: 0;
 
position: absolute;
 
bottom: 10px;
 
right: 10px;
 
width: 70px;
 
height: 70px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
color: #ffffff;
 
background-color: #ff9000;
 
}
 
  
 
#back-to-top i {
 
  font-size: 60px;
 
}


</style>